.form-control-disabled {
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-100);
    // caret-color: transparent;
}

.btn-text-gray {
    color: var(--bs-gray-400);
}

.test-items__num {
    width:24px;
}